/pcrivas-Miprimerprograma/target/
/NETBEANS/pcrivas/build/
/NETBEANS/pcrivas/nbproject/private/
/PROYECTOS/PROYECTO 01/nbproject/private/
/PROYECTOS/PROYECTO 01/build/
/PROYECTOS/PROYECTO 02/PROYECTO 02/nbproject/private/
/PROYECTOS/PROYECTO 02/PROYECTO 02/build/
